//Страница отдельного шаблона для вывода каталога статей
.blog {
  @media (min-width: $min-tablet) {
    font-size: $font-size-tablet;
    line-height: normal;
  }
}

.blog__header {
  padding: 40px 0;
  line-height: $line-height-mobile + 2;
}

.blog-posts {
  @media (max-width: $max-tablet) {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-secondary;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      background-image: linear-gradient(to right bottom, $bg-primary 50%, $bg-secondary 50%);
      content: "";
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      background-image: linear-gradient(to right bottom, $bg-secondary 50%, $bg-primary 50%);
      content: "";
    }
  }
}

.blog-posts__list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;

  @media (min-width: $min-tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 120px;
    padding-bottom: 100px;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 120px;
    padding-bottom: 100px;
  }
}

.blog-posts__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 320px;
  transition: all 0.8s ease-in-out;

  & > a {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font: inherit;
    text-align: center;
    color: inherit;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.6;
  }

  & > p {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: fit-content;
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
    background-color: $bg-primary;
    opacity: 0.9;

    @media (min-width: $min-tablet) {
      padding: 10px 0;
      font-size: $font-size-mobile;
    }
  }

  .attachment-post-thumbnail {
    width: 100%;

    @media (min-width: $min-tablet) {
      min-height: 100%;
    }
  }
}
