.commentlist {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $min-desktop) {
    font-size: $font-size-desktop;

    .reply {
      display: flex;
      justify-content: center;
    }
  }
}

.comment {
  padding-bottom: 20px;
  border-bottom: 1px solid $breadcrambs;;

  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.comment-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-desktop) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    row-gap: 20px;
  }
}

.comment-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $min-desktop) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.comment-author {
  display: flex;
  flex-direction: column;
  align-items: center;

  .says {
    display: none;
  }

  .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  @media (min-width: $min-desktop) {
    align-self: center;
  }
}

.comment-metadata {
  align-self: center;
  width: max-content;
  margin-left: auto;
  font-size: $font-size-mobile - 3;

  & > a {
    color: $breadcrambs;

    &:hover {
      color: $menu-socials-hover;
    }

    &:active {
      color: $menu-socials-active;
    }
  }

  @media (min-width: $min-desktop) {
    align-self: center;
    margin-left: initial;
  }
}

.comment-awaiting-moderation {
  width: min-content;
  padding-left: 15px;
  font-size: $font-size-mobile - 3;

  @media (min-width: $min-tablet) {
    font-size: $font-size-mobile;
  }

  @media (min-width: $min-desktop) {
    width: auto;
    font-size: $font-size-desktop - 6;
    line-height: normal;
  }
}

.comment-content {
  @media (min-width: $min-desktop) {
    font-size: $font-size-desktop - 6;
    line-height: normal;
  }
}

.comment-reply-link {
  align-self: center;
  display: block;
  padding: 2px 15px;
  font-size: $font-size-mobile - 2;
  text-decoration: none;
  color: $text-inverted;
  background-color: $breadcrambs;

  @media (min-width: $min-tablet) {
    font-size: $font-size-tablet;
  }

  @media (min-width: $min-desktop) {
    font-size: $font-size-desktop;
  }

  &:hover {
    background-color: $button-hero-hover !important;
  }

  &:active {
    background-color: $button-hero-active !important;
  }
}
