.commentlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.comment-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-meta {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 100%;
}

.comment-author {
  display: flex;
  flex-direction: column;
  align-items: center;

  .says {
    display: none;
  }

  .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}
