.hero {
  background-image: url("../img/backgrounds/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: auto 462px;
  background-position: -305px top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/hero-mobile@2x.jpg");
  }

  @media (min-width: $min-tablet) {
    display: flex;
    justify-content: center;
    background-image: url("../img/backgrounds/hero-tablet.jpg");
    background-size: auto 729px;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: $min-desktop) {
    justify-content: flex-end;
    background-image: url("../img/backgrounds/hero-desktop.jpg");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/hero-desktop@2x.jpg");
    }
  }
}
