.inner__sidebar {
  padding: 40px 0;

  .wp-block-group:not(:last-child) {
    margin-bottom: 60px;

    @media (min-width: $min-desktop) {
      margin-bottom: 100px;
    }
  }

  .wp-block-heading {
    margin-bottom: 40px;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
