.menu {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: #000000;
  }

  @media (min-width: $min-desktop) {
    &::before {
      content: none;
    }
  }
}

.menu-item {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
  }

  &::before {
    top: 1px;
    background-color: rgba(255, 255, 255, 0.15);
  }

  &::after {
    background-color: #000000;
  }

  &:last-of-type {
    box-shadow: 0 1px 0 #000000;
  }

  @media (min-width: $min-desktop) {
    display: flex;
    flex-wrap: wrap;
    border: none;

    &::before,
    &::after {
      content: none;
    }

    &:last-of-type {
      box-shadow: none;
    }

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
