.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  padding: 5px 0;

  &--nojs {
    justify-content: center;
  }
}

.navigation__toggler {
  margin-left: auto;

  &--nojs {
    display: none;
  }
}

.navigation__menu {
  display: none;
  padding: 0;
  margin: 0;

  &--nojs {
    position: relative;
    left: calc(50% - 50vw);
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: $text-inverted;
    background-color: $menu-bg-opened;
  }

  &--opened {
    position: relative;
    left: calc(50% - 50vw);
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: $text-inverted;
    background-color: $menu-bg-opened;
  }

  @media (min-width: $min-desktop) {
    position: static;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
