.navigation {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  padding: 5px 0;

  &--nojs {
    justify-content: center;
  }
}

.navigation__toggler {
  margin-left: auto;

  &--nojs {
    display: none;
  }
}

.navigation__menu {
  display: none;
  padding: 0;
  margin: 0;

  &--nojs {
    position: relative;
    left: calc(50% - 50vw);
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: $text-inverted;
    background-color: $menu-bg-opened;
  }

  &--opened {
    position: relative;
    left: calc(50% - 50vw);
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: $text-inverted;
    background-color: $menu-bg-opened;
  }

  @media (min-width: $min-desktop) {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: initial;
    margin-left: auto;
    color: $text-primary;
    background-color: $menu-bg;
  }

  .menu-item > a {
    display: block;
    padding: 15px 0;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $min-tablet) {
      font-size: $font-size-tablet + 2;
      line-height: $line-height-tablet + 2;
    }

    @media (min-width: $min-desktop) {
      position: relative;
      padding: 15px 25px;
      flex-shrink: 0;
      text-align: center;

      &--current::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $menu-current;
        content: "";
      }
    }
  }

  .menu-item > a:hover {
    color: $menu-hover;
  }

  .menu-item > a:active {
    color: $menu-active;
  }
}
