.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .custom-logo-link {
    order: 1;
  }

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 20px 0;
  }
}

.page-footer__copyright {
  order: 4;
}

.page-footer__menu {
  &.menu {
    order: 2;
    padding: 0;
    margin: 0;
    background-color: transparent;

    .menu-item::before,
    .menu-item::after {
      content: none;
    }

    .menu-item:last-of-type {
      box-shadow: none;
    }

    .menu-item > a {
      display: block;
      padding: 15px 0;
      text-align: center;
      color: inherit;
      background-color: inherit;
      text-decoration: none;
    }

    @media (min-width: $min-tablet) {
      .menu-item > a {
        padding: 0;
        text-align: left;
      }
    }
  }

  &.menu::before {
    content: none;
  }

  &.socials {
    order: 3;
    padding: 0;
    margin: 0;

    .menu-item::before,
    .menu-item::after {
      content: none;
    }

    .menu-item:last-of-type {
      box-shadow: none;
    }

    @media (min-width: $min-tablet) {
      display: flex;

      .menu-item {
        width: initial;
      }
    }
  }
}
