.post-page {
  font-size: $font-size-mobile;
  line-height: $line-height-mobile + 3;

  p {
    margin: 0;
    padding: 20px 0;
  }

  .comment-content > p {
    padding: 0 10px;
  }

  figure {
    margin: 0;
    padding: 20px 0;
  }

  .wp-post>ul {
    list-style-image: url("../img/tick.svg");

    li:not(:last-of-type) {
      margin-bottom: 10px;
    }

    @media (min-width: $min-tablet) {
      li:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  .navigation {
    margin: 40px 0;

    @media (min-width: $min-tablet) {
      margin: 60px 0 20px 0;
    }
  }

  @media (min-width: $min-desktop) {
    .wp-post {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      font-size: $font-size-desktop;
      line-height: normal;

      p {
        width: 50%;
        padding: 20px;
      }

      .wp-block-columns {
        width: 50%;
        padding: 0 20px;
      }

      ul {
        padding: 20px 0;
      }
    }
  }

  @media (min-width: $min-desktop) {
    font-size: $font-size-desktop;

    .wp-block-heading {
      margin: 0 0 60px 0 !important;
      padding: 0;
      min-width: initial;
      max-width: initial;
    }
  }

}

.post-page__comments {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-secondary;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: linear-gradient(to right bottom, $bg-primary 50%, $bg-secondary 50%);
    content: "";
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: linear-gradient(to right bottom, $bg-secondary 50%, $bg-primary 50%);
    content: "";
  }

  @media (min-width: $min-tablet) {
    margin-top: 120px;
    margin-bottom: 0;
  }

  @media (min-width: $min-desktop) {
    .navigation {
      display: none;
    }

    & > div[class="center-flexible"] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8vw;
      row-gap: 50px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h3[id="comments"] {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      text-align: center;
    }
  }
}
