.post-page {
  font-size: $font-size-mobile;
  line-height: $line-height-mobile + 3;

  p {
    margin: 0;
    padding: 20px 0;
  }

  figure {
    margin: 0;
    padding: 20px 0;
  }

  .wp-post>ul {
    list-style-image: url("../img/tick.svg");

    li:not(:last-of-type) {
      margin-bottom: 10px;
    }

    @media (min-width: $min-tablet) {
      li:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  .navigation {
    margin-bottom: 40px;
  }
}

.post-page__comments {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-secondary;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: linear-gradient(to right bottom, $bg-primary 50%, $bg-secondary 50%);
    content: "";
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: linear-gradient(to right bottom, $bg-secondary 50%, $bg-primary 50%);
    content: "";
  }

  @media (min-width: $min-tablet) {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
