.socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  & > .menu-item {

    &:not(:last-of-type) {
      margin-right: 10px;

      @media (min-width: $min-tablet) {
        margin-right: 15px;
      }
    }
  }

}

.socials__item {
  display: block;
  width: 36px;
  height: 36px;
  background-color: $menu-socials;
  mask-size: cover;
  mask-repeat: no-repeat;

  @media (min-width: $min-tablet) {
    width: 38px;
    height: 38px;
  }

  &:hover {
    background-color: $menu-socials-hover;
  }

  &:active {
    background-color: $menu-socials-active;
  }
}

.socials__vk {
  mask-image: url("../img/vk_ic.svg");
}

.socials__telegram {
  mask-image: url("../img/telegram_ic.svg");
}

.socials__youtube {
  mask-image: url("../img/youtube_ic.svg");
}

.socials__ok {
  mask-image: url("../img/ok_ic.svg");
}

.socials__phone {
  mask-image: url("../img/phone-ic.svg");
}

.socials__email {
  mask-image: url("../img/mail_ic.svg");
}
