.wp-block-latest-comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 4vw;
    align-items: start;
  }

  @media (min-width: $min-desktop) {
    column-gap: 10vw;
    row-gap: 1vw;
  }
}

.wp-block-latest-comments__comment {
  line-height: normal;

  @media (min-width: $min-tablet) {
    margin-bottom: 0;
  }

}

.wp-block-latest-comments__comment-link {
  padding: 5px;
  font: inherit;
  font-size: $font-size-mobile - 3;
  color: $breadcrambs;
  text-transform: uppercase;
  text-decoration-style: dashed;

  &:hover {
    color: $menu-socials-hover;
    text-decoration-style: solid;
    text-decoration-color: $menu-socials-hover;
  }

  &:active {
    color: $menu-socials-active;
    text-decoration-style: solid;
    text-decoration-color: $menu-socials-active;
  }

  @media (min-width: $min-desktop) {
    font-size: $font-size-mobile;
  }
}
