.wp-block-heading {
  position: relative;
  padding: 5px 20px;
  font-size: $headings-mobile;
  text-transform: uppercase;
  text-align: center;

  .hero & {
    font-size: $headings-hero-mobile;
  }

  .index__sidebar & {
    margin-bottom: 40px;
  }

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: linear-gradient(to right bottom, #ffffff71, #ffffff9e 15%,#ffffff 85%, #ffffff 85%, #ffffff71 100%);
    content: "";
    z-index: -1;
  }

  @media (min-width: $min-tablet) {
    min-width: 550px;
    max-width: 650px;
    padding: 10px 20px;
    font-size: $headings-tablet;
    line-height: normal;

    .hero & {
      font-size: $headings-hero-tablet;
    }
  }

  @media (min-width: $min-desktop) {
    min-width: 650px;
    max-width: 880px;
    margin-left: 100px !important;
    padding: 20px;
    font-size: $headings-desktop;
    line-height: normal;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;

    .hero & {
      font-size: $headings-hero-desktop;
    }

    .index__sidebar & {
      margin-left: initial !important;
    }
  }
}
