.wp-block-archives {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > li {

    a {
      display: block;
      padding: 10px;
      font: inherit;
      color: inherit;
      text-decoration-style: wavy;

      &:hover {
        text-decoration-color: $menu-hover;
      }

      &:active {
        text-decoration-color: $menu-active;
      }
    }
  }

  @media (min-width: $min-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  @media (min-width: $min-desktop) {
    justify-content: center;
  }
}
