.wp-block-categories-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  .cat-item {
    width: auto;
  }

  &>.cat-item {
    text-transform: uppercase;

    a {
      padding: 5px 0;
      letter-spacing: 2px;
      color: $breadcrambs;
    }
  }

  @media (min-width: $min-tablet) {
    &>.cat-item {
      width: max-content;
      justify-self: center;
    }
  }

  @media (min-width: $min-desktop) {
    column-gap: 10em;
    row-gap: 2em;

    &>.cat-item {
      a {
        letter-spacing: 3px;
      }

      a:hover {
        color: $menu-socials-hover;
      }

      a:active {
        color: $menu-socials-active;
      }
    }
  }
}

.wp-block-categories-list .children {

  .cat-item::marker {
    color: $breadcrambs;
  }

  & > .cat-item {
    padding: 5px 0;
    text-transform: none;

    a {
      letter-spacing: normal;
      color: inherit;
    }

    a:hover {
      color: $menu-hover;
    }

    a:active {
      color: $menu-active;
    }
  }

  @media (min-width: $min-desktop) {
    & > .cat-item {
      padding: 10px 0;
    }
  }
}
