.wp-swiper {
  p {
    max-width: 50%;
    margin-right: auto !important;
    padding: 15px;
    background-color: #fff;
    font-size: $font-size-mobile - 2;
    line-height: $line-height-mobile - 4;
    border-radius: 25px;

    @media (min-width: $min-tablet) {
      align-self: center;
      min-width: 450px;
      padding: 15px 20px;
      font-size: $font-size-tablet + 6;
      line-height:normal;
    }

    @media (min-width: $min-desktop) {
      min-width: 650px;
      margin-left: 100px !important;
      padding: 15px 25px;
      font-size: $font-size-desktop + 15;
      line-height: normal;
    }
  }
}

.wp-swiper__wrapper {
  margin-bottom: 0 !important;
}
