// Global
@import "./global/variables.scss";
@import "./global/palette.library.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";
//@import "global/outlines.scss"; // для просмотра структуры разметки, тестоваые

// basic
//@import "./blocks.library/center-fixed.scss"; // центровщик для фиксированной верстки (не нужное закомментировать)
@import "./blocks.library/center-flexible.scss"; // центровщик для резиновой верстки (не нужное закомментировать)
@import "./blocks.library/visually-hidden.scss"; // паттерн для визуального скрытия элементов
@import "./blocks.library/button.scss";
@import "./blocks.library/text.scss";

//page layouts
@import "./blocks.library/page.scss";
@import "./blocks.project/page.scss";

//header components
//@import "./blocks.project/logo.scss";
@import "./blocks.library/burger.scss";
@import "./blocks.library/menu.scss";
@import "./blocks.project/menu.scss";
@import "./blocks.project/navigation.scss";
@import "./blocks.project/breadcrambs.scss";

//main components
@import "./blocks.project/index.scss";
@import "./blocks.project/hero.scss";
@import "./blocks.project/wp-swiper.scss";
@import "./blocks.project/wp-block-group.scss";
@import "./blocks.project/wp-block-heading.scss";
@import "./blocks.project/wp-block-button.scss";
@import "./blocks.project/about-page.scss";
@import "./blocks.project/posts.scss";
@import "./blocks.project/demo.scss";
@import "./blocks.project/wp-block-latest-posts.scss";
@import "./blocks.project/wp-block-archives.scss";
@import "./blocks.project/page-footer.scss";
@import "./blocks.project/socials.scss";

// post
@import "./blocks.project/post-page.scss";
@import "./blocks.project/post-navigation.scss";
@import "./blocks.project/commentlist.scss";
@import "./blocks.project/comment-form.scss";
@import "./blocks.project/comment-respond.scss";

// inner
@import "./blocks.project/inner.scss";
@import "./blocks.project/wp-block-categories-list.scss";
@import "./blocks.project/wp-block-latest-comments.scss";
//@import "./blocks.project/wp-block-gallery.scss";

//БЛОГ
@import "./blocks.project/blog.scss";

//Запись по объявлению
@import "./blocks.project/form.scss";
@import "./blocks.project/control.scss";
